// Breakpoints
$sm: 48rem; // 768px
$md: 64rem; // 1024px
$lg: 75rem; // 1200px
$xl: 100rem; // 1600px

// Colours
$original_blue: #0000EE !default;
$black-1: rgba(0, 0, 0, 0.87) !default;
$black-2: rgba(0, 0, 0, 0.54) !default;
$black-3: rgba(0, 0, 0, 0.38) !default;